<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul style="list-style-type:none">
            <li><a href="mapas/equipamento">Mapa de equipamentos</a></li>
            <li><a href="mapas/equipamentocores">Mapa de equipamentos (cores)</a></li>
            <li><a href="mapas/gps">Dados de GPS</a></li>
            <li><a href="mapas/municipio">Mapa de municipios</a></li>
        </ul>
    </body>
</html>
